body {
    margin: 0;
    position: fixed;
}
 .top-container {
    display: flex;  
    flex-direction: row;
    align-items: center;
    text-align: center;
    z-index: 10;
    margin-left: 50px;
}


.top-container h1 {
    font-size: 80px;
    font-weight: 900;
    
}
.top-container h2 {
    font-size: 35px;
}
