:root{
  --bg-dark: #121212;
  --bg-mid: #28292a; 
  --text-light: #edede9;
  --text-dark: #3a3b3c;
  --bg-primary: #87d78b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid grey; */
}

body{
  /* Cormorant font has variable weight, but Jacques only has a single, static font weight.
  Both fonts look similar. */
  font-family: "Cormorant", serif;
  font-size: 16px;
  background-color: var(--bg-dark);
  color: var(--text-light);
  background: linear-gradient(90deg, #1e1e1e 10%, #212121 90%, #282828 100%);
}


/* Dark mode util class */
.dark-bg{
  background-color: var(--bg-mid);
  color: var(--text-light);
}
.dark-txt{
  color: var(--text-dark)
}
.light-txt{
  color: var(--text-light);
}

img,
label,
button{
  display: block;
  cursor: pointer;
  font-family: "Cormorant", serif;
}

button, input{
  border: none;
}

/* Quick inline utility class for flex containers,
since it's used so often */
.flex{
  display: flex;
}