:root {
  /* Cormorant font has variable weight, but Jacques only has a single, static font weight.
  Both fonts look similar. */
  font-family: "Cormorant", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* *{
  outline: 1px solid grey;
} */