form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--bg-mid);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

form h1 {
  text-align: center;
  margin-bottom: 1.5rem;
    color: var(--text-light);

}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: var(--text-light);
}

input[type="text"] {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: var(--bg-primary);
  outline: none;
}

button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  background-color: var(--bg-primary);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--text-dark);
}