.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0;
}

.left-container {
  display: inline-block;
}

.right-container{
}
.right-container .login-page .auth-form {
  margin: 0;
  height: 100vh;
}