.container {
  z-index:30;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  min-height: fit-content;
  justify-content: center;
  gap: 4rem;

}

.left-container,
.right-container{
  max-width: 800px;
  
  /* outline: 2px solid red; */
}

/* LEFT SIDE */
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.left-container h1 {
  font-family: "Cormorant", serif;
  font-size: 4rem;
  margin-bottom: 0;
}
.left-container h2 {
  font-family: "Cormorant", serif;
  font-style: italic;
  font-size: 1rem;
}

.right-container {
  grid-template-rows: auto auto auto;
  display: flex;
  flex-direction: column;
}                     
.right-container .login-banner img {
  width: 100%;
}

.left-container img {
  height: 150px;
  flex-grow: 0;
}
.right-container .login-welcome > p{
  font-family: "Cormorant", serif;
    font-size: 40px;
    margin: 0;
}

.right-container .login-page {

  gap:2em;
}

.login-page {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  max-width: 400px; 
  width: 100%;
}
.auth-form label{
  margin-top:10px;
  font-size: 20px;
}
.auth-form input {
  font-family: "Cormorant", serif;
  font-size: 25px;
  border-radius: 15px;
  height: 50px;
}

.auth-form button {
  border-radius: 13px;
  font-size: 20px
}

.login-banner > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.login-banner > p{
    background-color: var(--bg-mid);
    max-width: 300px;
    padding: 10px;
}