.container {
  z-index:30;
  display: grid;
  grid-template-columns: auto auto;
  max-height: fit-content;
}

.left-container,
.right-container{
  max-width: 800px;
  /* outline: 2px solid red; */
}
/* LEFT SIDE */
.left-container {
  grid-column: 1;
  content:'';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: rgba(234, 255, 241, 0.3);
  backdrop-filter: blur(10px);
  height: 400px;
  width: 400px;
  border-radius: 90px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.5);
}

.left-container h1 {
  font-family: "Cormorant", serif;
  font-size: 4rem;
  margin-bottom: 0;
  color: white;

}
.left-container h2 {
  font-family: "Cormorant", serif;
  font-style: italic;
  font-size: 1.2rem;
  color: white;
    
}
.left-container img {
  height: 150px;
  flex-grow: 0;
  opacity: .8;
}
.left-container .bottom-left {
  background-color: rgba(167, 167, 167, 0.3);
  backdrop-filter: blulr(10px);
  width: 85%;
  height: 45%;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.right-container {
  grid-template-rows: auto auto auto;
  flex-direction: column;
}                     
.right-container .login-banner img {
  width: 100%;
}

.right-container .login-welcome > p{
  font-family: "Cormorant", serif;
    font-size: 40px;
    margin: 0;
}

.right-container .login-page {
  gap:2em;
}

.login-page {
  margin:0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  max-width: 400px; 
  width: 100%;
  height:100vh;
  margin-top:0;
  margin-right:0;
}
.auth-form label{
  margin-top:10px;
  font-size: 20px;
}
.auth-form input {
  font-family: "Cormorant", serif;
  font-size: 25px;
  border-radius: 15px;
  height: 50px;
}

.auth-form button {
  border-radius: 13px;
  font-size: 20px
}

.login-banner > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.login-banner > p{
  background-color: var(--bg-mid);
  max-width: 300px;
  padding: 10px;
}