
.main-content {
}
.button-container {
    /* position:fixed;
    height: 100%; 
    width: 100%;  */
    z-index: 20;
}

.button-container button { 
    position: fixed;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%); 
    /* font-family: "Cormorant", serif;  */
    font-weight: bold;
    font-size: 1.2rem;
    width: auto;
    border: none;
    cursor: pointer;
    background-color: #1ED760; 
    color: var(--text-dark); 
    border-radius: 60px;
    text-align: center;
    padding: 1.5em;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border-style:solid;
    border-width: 4px;
    border-color: darkgrey;
    opacity: 80%;
}
.button-container button:hover {
    opacity: 100%;
}