.container {
  display: grid;
  grid-template-columns: 1fr auto;
  font-family: "IBM Plex Mono", monospace;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-container .corpo-placement .blur {
  backdrop-filter: blur(8px);
  position: absolute; 
  z-index:-1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 80px;
  border: 1px solid;
  box-shadow: inset 0 3.2px 1px;
}

.left-container .corpo-placement {
  display:flex;
  flex-direction:column;
  z-index: 2;
  position: relative;
  height: fit-content;
  width: fit-content;
  padding: 45px;
  text-align: center; 
  font-family: "IBM Plex Mono", monospace;
}

.corpo-placement .logo-icon {
  display: flex;
  height: 15.2rem;
  width: auto;
  margin: 0;
}

.corpo-placement h1 {
  font-size: auto;
}

.corpo-placement h2 {
  font-size: auto;
}

.right-container {
  display: flex;
  align-items: center;
}

.right-container .login-page .auth-form {
  display: inline-block;
  margin: 50px;
  width: 100vw;
}

form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  backdrop-filter: blur(8px);
  z-index:-1;
  top: 0;
  left: 0;
  border-radius: 60px;
  border: 1px solid;
  box-shadow: inset 0 2px .5px;
  display: flex;
  text-align: center;
  justify-content: center;
}

/* copied from createPost.css */

/* form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--bg-mid);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "IBM Plex Mono", monospace;
} */

form h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--text-light);

}

form input {
  font-family: "IBM Plex Mono", monospace;
  width: 90%;
  margin-top: 1rem;
  height: 1.5rem;
border-radius: 15px;
text-align: center;
margin-bottom: 1rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: var(--text-light);
  font-family: "IBM Plex Mono", monospace;
  
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: var(--bg-primary);
  outline: none;
  
}

button {
  width:50%;
  padding: 0.75rem;
  background-color: #236F6E;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  margin: auto;
}

button:hover {
  background-color: #223870;
} 