
:root{
  --bg-dark: #121212;
  --bg-mid: #28292a; 
  --text-light: #edede9;
  --text-dark: #3a3b3c;
  --bg-primary: #87d78b;
  --hover-clr: #2f2f2f;
}

.nav {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  /* background-color: var(--base-clr); */
  border-right: 1px solid rgb(186, 186, 186);
/* var(--line-clr) */
  position: fixed;
  top:0;
  align-self:start;
}

.nav ul {
list-style: none;
}
.nav ul li a{ 
font-family: "Cormorant", serif;
font-weight: bold;
font-size: 1.2rem;
text-decoration: none;
color: white;
padding: .85em;
}

.nav ul li a:hover{
background-color: var(--hover-clr);
border-radius: 15px;
}

.nav ul li.active {
display:inline-flex;
justify-content: center;
align-items: center;
}

.nav ul li .logo-icon{
height: 50px;
width: auto;
}
