.NFContainer{
    display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  height: 100vh; 
}
.NFtext{
    background-color:var(--bg-mid);
    padding:10vh;
    border-radius: 50px;
    display:flex;
    border-style:solid;
    border-width:1vh;
    border-color:var(--bg-primary);
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.NFtext a{
    text-decoration:none;
    color:var(--bg-primary);
    background-color: var(--bg-dark);
    padding:2vh;
    border-radius:20px;
}

.NFtext a:hover {
        background-color: var(--bg-mid);
}