.profile-page{
    margin-inline: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 1200px;
    background-color: rgb(27, 27, 27);
    outline: 2px solid var(--bg-mid);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}

.post-button {
    text-decoration:none;
    color:var(--bg-primary);
    background-color: var(--bg-dark);
    padding:1vh;
    border-radius:20px;
}
.post-button:hover {
        background-color: var(--bg-mid);
}
.profile-top{
    gap: 2rem;
    margin-bottom: 40px;
    flex-wrap: wrap;
    max-width: 100%;
}

.profile-nav{
    flex: 1;
    font-size: 1.1rem;
    max-width: 200px;
}

.profile-nav p{
    padding: 10px;
    border-left: 2px solid grey;
}

.profile-desc{
    flex: 1;
}

.profile-desc-top{
    gap: 0.5rem;
    align-items: center;
}

.profile-desc > h2{
    font-size: 1.8rem;
}

.profile-tags{
    gap: 0.5rem;
}

.profile-tags span{
    display: block;
    text-align: center;
    background-color: var(--bg-primary);
    padding: 0.2rem;
    padding-inline: 0.8rem;
    border-radius: 0.2rem;
}

.pfp-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 220px;
    max-width: 220px;
    overflow: hidden;
    border-radius: 100%;
}

.profile-posts{
    overflow-x: auto;
    flex: 3;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: left;
}


.profile-posts > img{
    flex: 1 1 auto;
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    border: 3px solid var(--bg-mid);
}


/* Mobile styles */
@media (max-width: 800px) {

    .profile-page{
        padding: 8px;
    }
    .profile-top{
        justify-content: center;
        text-align: center;
    }

    .profile-desc-top{
        justify-content: center;
    }

    .profile-tags{
        justify-content: center;
    }
    .profile-bottom{
        display: block;
    }

    .profile-nav{
        display: flex;
        text-align: center;
        justify-content: center;
        max-width: 100%;
    }

    .profile-posts{
        max-width: 100%;
        justify-content: center;
        padding: 0px;
        margin: 0;
    }

    .profile-posts > img{
        max-width: 100%;
    }
}




