
:root{
  --bg-dark: #121212;
  --bg-mid: #28292a; 
  --text-light: #edede9;
  --text-dark: #3a3b3c;
  --bg-primary: #87d78b;
}

.nav {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid rgb(90, 90, 90);
/* var(--line-clr) */
}
.nav img {
  height: 10vh;
  width: auto;
  object-fit: contain;
}
/* .nav h1 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  color: white;
} */

 .nav ul {
  list-style: none;
  
 }

.nav ul li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.nav ul li {
  text-decoration: none;
}

.spacer {
  height: 50px;
}