:root{
  --bg-dark: #121212;
  --bg-mid: #28292a; 
  --text-light: #edede9;
  --text-dark: #3a3b3c;
  --bg-primary: #87d78b;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 1000;
  margin-bottom: 20px;
}

.nav img {
  width: 80px;
  height: 80px;
  object-fit: contain;

}

.nav h1 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  color: white;
}

.nav h2 .login-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}
.spacer {
  height: 50px;
}